

img {
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
}

p {
  color: blue;
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  text-align: center;
  list-style: inside;
}

ol {
  list-style: number inside;
  text-align: center;
  max-width: 50%;
  margin:auto;

}
